.js-startBtn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition:background-color 250ms cubic-bezier(0.215, 0.610, 0.355, 1), color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.js-startBtn:hover,
.js-startBtn:focus {
  background-color: #6c8cff;
}
.js-startBtn:disabled{
    background-color: #cfcfcf;
    color: #989898;
}
#datetime-picker {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid black;
  padding-left: 16px;
}
#datetime-picker:hover{
    border: 2px solid black;
}
#datetime-picker:focus,
#datetime-picker:active {
    border: 1px solid #4E75FF;
}
#datetime-picker:disabled{
    border: 1px solid #808080;
    background-color: #FAFAFA;
}
.timer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 32px auto;
    width: 360px;
}
.field{
    display: flex;
    flex-direction: column;
    height: 72px;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 40px;
    
        /* line-height: 48px; */
        line-height: 1.2;
        letter-spacing: 0.04em;
        color: #2e2f42;
}
.field .label{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        color: #2e2f42;
}